{{>sty}}
<header>
  <div class = "header-info-container">
      <h1 class = "header-title">THE BULLETIN BOARD</a></h1>
      <h2 class = "site-description">Post resume's and find employees for free!</h2>
  </div>
</header>
