   <div class = "home-page-image">
      <img></img>
    <header>
      <div class = "header-info-container">
          <h1 class = "header-title">ADD A RESUME</a></h1>
          <h2 class = "site-description"></h2>
      </div>
    </header>

    <div class = "user-get-info-container">

        <label for = "user-name" class = "make-page-label"> Name: </label>
        <input type = "text" name = "user-name" id = "name">

        <label for = "user-age" class = "make-page-label"> Age: </label>
        <input type = "text" name = "user-age" id = "age">

   		<label for = "user-major" class = "make-page-label"> Major: </label>
        <input type = "text" name = "user-major" id = "major">

        <label for = "user-bio" class = "make-page-label"> A little about yourself: </label>
        <input type = "text" name = "user-bio" id = "bio">

        <label for = "user-photo" class = "make-page-label"> Add a profile picture: </label>
        <input type = "url" name = "user-photo" id = "prof-pic">

        <label for = "user-resume" class = "make-page-label"> Add your resume: </label>
        <input type = "file" name = "user-resume" id = "choose-file" accept=".pdf">


    </div>
    <button type="button" id="modal-accept" class="action-button"> Create Page </button>
  </div>
</div>