 <main class="home-page">
    <div class = "home-page-container">
      <aside class = "search-bar">
        <h2>Find Someone</h2>
        <div class = "search">
          <label for = "search-text" class = "search-label">Name</label>
          <input type = "text" name = "search-text" id = "search-text">
        </div>
      </aside>
      <div class = "link-note">
        <button id= "resume-button" class = "page-change-button">Add a resume</button>
      </div>
      <div class = "link-note">
        <button id= "job-post-button" class = "page-change-button">Create a job Posting</button>
      </div>
    </div>
  </div>
  </main>