<header>
      <div class = "header-info-container">
          <h1 class = "header-title">Resume Info</a></h1>
          <h2 class = "site-description">Here are current student resumes.</h2>
      </div>
    </header>
 
 <section id="students">
 
    {{#each student}}
    {{>studentInfo}}
    {{/each}}
         </section>