<<<<<<< HEAD
{{>sty}}
<main class="content">
   <div class="title-container">
    <h1>Resume list</h1>
  </div>
   <section id="students">

     {{#each this}}
 	{{#if name}}
     {{>studentInfo}}
  {{/if}}
    {{/each}}
         </section>
  </main>
=======
   <header>
      <div class = "header-info-container">
          <h1 class = "header-title">Resume Info</a></h1>
          <h2 class = "site-description">Here are current student resumes.</h2>
      </div>
    </header>
 
 <section id="students">
 
    {{#each this}}
    {{>studentInfo}}
    {{/each}}
         </section>
>>>>>>> 4fdb602475d0fa172ad05748f4fd96197653ce6d
