<main class="content">

  <div class="title-container">
    <h1>Resume list</h1>
  </div>

  <section id="students">

    {{#each this}}
	{{#if name}}
    {{>studentInfo}}
  {{/if}}
    {{/each}}

  </section>
</main>
