<main class="content">
   <div class="title-container">
    <h1>Student Information</h1>
    <h1>Resume list</h1>
  </div>
   <section id="students">
@@ -12,5 +12,5 @@
  {{/if}}
    {{/each}}
         </section>
        </main>
  </section>
</main>
