<main class="error-page">
    <header>
  <div class = "header-info-container">
  <h1 class = "header-title">404</h2>
  <h2 class = "site-description">Oops! Page is not found.</h3>
    </div>
        </header>
</main>
